@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9807 0.0051 247.8761);
  --foreground: oklch(0.2483 0.0207 251.6484);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2483 0.0207 251.6484);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2483 0.0207 251.6484);
  --primary: oklch(0.7495 0.1495 45.0223);
  --primary-foreground: oklch(0.9791 0 0);
  --secondary: oklch(0.4999 0.0393 259.3606);
  --secondary-foreground: oklch(0.9791 0 0);
  --muted: oklch(0.9394 0.0046 258.3251);
  --muted-foreground: oklch(0.4994 0.0208 253.4670);
  --accent: oklch(0.7495 0.1495 45.0223);
  --accent-foreground: oklch(0.9791 0 0);
  --destructive: oklch(0.5502 0.2200 25.0385);
  --destructive-foreground: oklch(0.9791 0 0);
  --border: oklch(0.8801 0.0099 252.8192);
  --input: oklch(0.8801 0.0099 252.8192);
  --ring: oklch(0.7495 0.1495 45.0223);
  --chart-1: oklch(0.7495 0.1495 45.0223);
  --chart-2: oklch(0.4999 0.0393 259.3606);
  --chart-3: oklch(0.6010 0.1202 159.9039);
  --chart-4: oklch(0.8492 0.1198 89.8578);
  --chart-5: oklch(0.6504 0.1795 20.0216);
  --sidebar: oklch(0.9597 0.0052 247.8776);
  --sidebar-foreground: oklch(0.2483 0.0207 251.6484);
  --sidebar-primary: oklch(0.7495 0.1495 45.0223);
  --sidebar-primary-foreground: oklch(0.9791 0 0);
  --sidebar-accent: oklch(0.9198 0.0098 252.8151);
  --sidebar-accent-foreground: oklch(0.2483 0.0207 251.6484);
  --sidebar-border: oklch(0.8801 0.0099 252.8192);
  --sidebar-ring: oklch(0.7495 0.1495 45.0223);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.2rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2120 0.0092 255.6148);
  --foreground: oklch(0.9198 0.0098 252.8151);
  --card: oklch(0.2411 0.0097 248.2290);
  --card-foreground: oklch(0.9198 0.0098 252.8151);
  --popover: oklch(0.2411 0.0097 248.2290);
  --popover-foreground: oklch(0.9198 0.0098 252.8151);
  --primary: oklch(0.7674 0.1489 47.3139);
  --primary-foreground: oklch(0.2162 0.0177 237.8362);
  --secondary: oklch(0.5510 0.0267 264.3277);
  --secondary-foreground: oklch(0.9198 0.0098 252.8151);
  --muted: oklch(0.3192 0.0105 253.9870);
  --muted-foreground: oklch(0.6508 0.0095 247.9726);
  --accent: oklch(0.7674 0.1489 47.3139);
  --accent-foreground: oklch(0.2162 0.0177 237.8362);
  --destructive: oklch(0.6378 0.2373 25.4359);
  --destructive-foreground: oklch(0.9198 0.0098 252.8151);
  --border: oklch(0.3192 0.0105 253.9870);
  --input: oklch(0.3192 0.0105 253.9870);
  --ring: oklch(0.7674 0.1489 47.3139);
  --chart-1: oklch(0.7674 0.1489 47.3139);
  --chart-2: oklch(0.5497 0.0794 260.0620);
  --chart-3: oklch(0.6487 0.1393 160.1972);
  --chart-4: oklch(0.8492 0.1198 89.8578);
  --chart-5: oklch(0.6504 0.1795 20.0216);
  --sidebar: oklch(0.2411 0.0097 248.2290);
  --sidebar-foreground: oklch(0.9198 0.0098 252.8151);
  --sidebar-primary: oklch(0.7674 0.1489 47.3139);
  --sidebar-primary-foreground: oklch(0.2162 0.0177 237.8362);
  --sidebar-accent: oklch(0.2790 0.0109 254.0158);
  --sidebar-accent-foreground: oklch(0.9198 0.0098 252.8151);
  --sidebar-border: oklch(0.3192 0.0105 253.9870);
  --sidebar-ring: oklch(0.7674 0.1489 47.3139);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.2rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  button,
  a {
    cursor: pointer;
  }
}